@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.desktop {
    @apply px-[4.6rem]
}

.mobile {
    @apply px-[5vw]
}

/*Scrollbar style*/
* {
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0; /* width of the scrollbar */
}
