@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.desktop {
    @apply px-[4.6rem]
}

.mobile {
    @apply px-[5vw]
}

/*Scrollbar style*/
html {
    scrollbar-color: #1D2939 #f1f1f1;
    scrollbar-width: thin;
}

/*General dashboard styles */
.main-dashboard {
    min-height: calc(100vh - 5rem);
    overflow-y: auto;
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
border-radius: 10px;
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
    background-color: #1D2939;
}

::-webkit-scrollbar-track {
border-radius: 10px;
    background-color: #f1f1f1;
}